<body>
    
    <app-navbar></app-navbar>
   
    <app-searchnav></app-searchnav>
    <app-header></app-header>
      <main class="main-content">
        <nav class="navbar navbar-expand-lg navbar-light bg-defaults ">
          <a class="navbar-brand text-white" href="#">Action</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Pricing</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item text-white" href="#">Action</a>
                  <a class="dropdown-item text-white" href="#">Another action</a>
                  <a class="dropdown-item text-white" href="#">Something else here</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
          
          <div class="container-fluid photos">
            <div class="row align-items-stretch">
      
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up">
                <div href="single.html" style="height:30% !important" class="card d-block photo-item">
                  <img src="assets/images/img_4.jpg" alt="Image"  class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
      
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta btn btn-danger">Watch</span>
                  </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
      
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                </a>
              </div>
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="200">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_2.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="300">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_3.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
      
      
      
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_6.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_7.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
      
      
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_8.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_9.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="200">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_10.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
      
      
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_2.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="200">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_3.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
      
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_4.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
      
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_6.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_7.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
      
      
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_8.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
              <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
                <a href="single.html" class="d-block photo-item">
                  <img src="assets/images/img_9.jpg" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <div class="photo-text-more">
                    <h3 class="heading">Photos Title Here</h3>
                    <span class="meta">42 Photos</span>
                  </div>
                  </div>
                </a>
              </div>
      
      
            </div>
      
          
          </div>
          
          <app-pagefooter></app-pagefooter> 
        </main>
      
  <app-footer></app-footer>
  
  
  
     
  </body>
  
