
 <!-- #Left Sidebar ==================== -->
 <div class="sidebar" id="left-sider">
    <div class="sidebar-inner">
      <!-- ### $Sidebar Header ### -->
      <div class="sidebar-logo">
        <div class="peers ai-c fxw-nw">
          <div class="peer peer-greed">
            <a class="sidebar-link td-n" href="index.html">
              <div class="peers ai-c fxw-nw">
                <div class="peer">
                  <div class="logo">
                    <img src="assets/static/images/logo.png" alt="">
                  </div>
                </div>
                <div class="peer peer-greed">
                  <h5 class="lh-1 mB-0 logo-text">Adminator</h5>
                </div>
              </div>
            </a>
          </div>
          <div class="peer">
            <div class="mobile-toggle sidebar-toggle">
              <a href="" class="td-n">
                <i class="ti-arrow-circle-left"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- ### $Sidebar Menu ### -->
      <ul class="sidebar-menu scrollable pos-r">
        <li class="nav-item mT-30 actived">
          <a class="sidebar-link" routerLink="/dashboard">
            <span class="icon-holder">
              <i class="c-blue-500 ti-home"></i>
            </span>
            <span class="title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='nav-item sidebar-link' routerLink="/adm/movies/all">
            <span class="icon-holder">
              <i class="c-brown-500 ti-email"></i>
            </span>
            <span class="title">Movies</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='nav-item sidebar-link' routerLink="/adm/movies/all">
            <span class="icon-holder">
              <i class="c-brown-500 ti-email"></i>
            </span>
            <span class="title">Episodes</span>
          </a>
        </li>
        <li class="nav-item">
          <a class='nav-item sidebar-link' routerLink="/adm/movies/all">
            <span class="icon-holder">
              <i class="c-brown-500 ti-email"></i>
            </span>
            <span class="title">Genres</span>
          </a>
        </li>

        <li class="nav-item">
          <a class='nav-item sidebar-link' routerLink="/adm/movies/all">
            <span class="icon-holder">
              <i class="c-brown-500 ti-email"></i>
            </span>
            <span class="title">Users</span>
          </a>
        </li>

        <li class="nav-item">
          <a class='nav-item sidebar-link' routerLink="/adm/movies/all">
            <span class="icon-holder">
              <i class="c-brown-500 ti-email"></i>
            </span>
            <span class="title">Torrents</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
