<body>
    <app-navbar></app-navbar>
      <main class="main-content">
        <div id="carouselExampleIndicators slid" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" >
           
            <div class="carousel-item active">
              <img class="d-block w-100 h-100 slide-image" src="assets/images/hero1.jpg" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>Bla bla</h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto iste rerum iure dicta perferendis aut optio officiis consequunt
                  ur cupiditate nam voluptatem veniam incidunt ipsa labore amet rem ab, numquam quis!</p>
              </div>

            </div>
         
            <div class="carousel-item" *ngFor="let slid of items">
              <img class="d-block w-100 slide-image" src="{{slid.Cover}}" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <h5>{{slid.Name}}</h5>
                <p>{{slid.Description}}</p>
              </div>

            </div>


          
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
       <app-pagefooter></app-pagefooter>
        </main>
      
  <app-footer></app-footer>
  
  
  
     
  </body>
  

