<body class="app">
   
    
    <!-- @App Content -->
    <!-- =================================================== -->
    <div>
     <app-sidebar></app-sidebar>
      <!-- #Main ============================ -->
      <div class="page-container">
        <!-- ### $Topbar ### -->
       <app-topbar></app-topbar>
        <!-- ### $App Screen Content ### -->
        <main class='main-content bgc-grey-100'>
            <div id='mainContent'>
              <div class="row gap-20 masonry pos-r">
                <div class="masonry-sizer col-md-6"></div>
                <div class="masonry-item  w-100">
                 

                <app-boxes></app-boxes>
                <div class="container p-3">
                  <p>All movies</p>
                  <hr>

                  <ul class="list-group" >

                    <app-admin-movie *ngFor="let movie of movies" [movie]="movie">

                    </app-admin-movie>
                    
                  </ul>

                </div>

               
            </div>
         </div>
    </div>
   
    <app-footer></app-footer>
  </main>
      </div>
    </div>
   
  </body>


  