<body>
    <app-navbar></app-navbar>
    <app-searchnav></app-searchnav>
      <main class="main-content" style="width: 100% !important;">
   
        <div class="container-fluid photos">
            <h2>All Movies</h2>
            <hr>
            <div class="row align-items-stretch">

        <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                <h3 class="heading">Photos Title Here</h3>
                <span class="meta">42 Photos</span>
              </div>
              </div>
            </a>
          </div>


          <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                <h3 class="heading">Photos Title Here</h3>
                <span class="meta">42 Photos</span>
              </div>
              </div>
            </a>
          </div>


          <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                <h3 class="heading">Photos Title Here</h3>
                <span class="meta">42 Photos</span>
              </div>
              </div>
            </a>
          </div>



          <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                <h3 class="heading">Photos Title Here</h3>
                <span class="meta">42 Photos</span>
              </div>
              </div>
            </a>
          </div>



          <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                <h3 class="heading">Photos Title Here</h3>
                <span class="meta">42 Photos</span>
              </div>
              </div>
            </a>
          </div>




          <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                <h3 class="heading">Photos Title Here</h3>
                <span class="meta">42 Photos</span>
              </div>
              </div>
            </a>
          </div>




          <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                <h3 class="heading">Photos Title Here</h3>
                <span class="meta">42 Photos</span>
              </div>
              </div>
            </a>
          </div>




          <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                <h3 class="heading">Photos Title Here</h3>
                <span class="meta">42 Photos</span>
              </div>
              </div>
            </a>
          </div>





          <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                <h3 class="heading">Photos Title Here</h3>
                <span class="meta">42 Photos</span>
              </div>
              </div>
            </a>
          </div>



          <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                <h3 class="heading">Photos Title Here</h3>
                <span class="meta">42 Photos</span>
              </div>
              </div>
            </a>
          </div>


          <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                <h3 class="heading">Photos Title Here</h3>
                <span class="meta">42 Photos</span>
              </div>
              </div>
            </a>
          </div>


          <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                <h3 class="heading">Photos Title Here</h3>
                <span class="meta">42 Photos</span>
              </div>
              </div>
            </a>
          </div>


          <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                <h3 class="heading">Photos Title Here</h3>
                <span class="meta">42 Photos</span>
              </div>
              </div>
            </a>
          </div>


          <div class="col-6 col-md-3 col-lg-3" data-aos="fade-up" data-aos-delay="100">
            <a href="single.html" class="d-block photo-item">
              <img src="assets/images/img_5.jpg" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <div class="photo-text-more">
                <h3 class="heading">Photos Title Here</h3>
                <span class="meta">42 Photos</span>
              </div>
              </div>
            </a>
          </div>



          
          
          


        </div>  
        </div>  
        </main>
      
  <app-footer></app-footer>
  
  
  
     
  </body>
  
