<body>
    <app-navbar></app-navbar>
    <app-searchnav></app-searchnav>
      <main class="main-content" style="width: 100% !important;">
   
        <div class="container-fluid photos">
            <h2>All Movies</h2>
            <hr>
            <div class="row align-items-stretch">

              <app-moviecard></app-moviecard>



          
          
          


        </div>  
        </div>  
        <app-pagefooter></app-pagefooter>
        </main>
      
  <app-footer></app-footer>
  
  
  
     
  </body>
  
