<div class="container col-md-12 m-4" id="footr">
<div class="row col md 12">

    <div class="col-md-2">
        <div class="col-12 card bg-dark mt-3 mb-3">
            <h3>Site Links</h3>
            <br>
            <ul class="list">
                <li class="list-group"><a href="/home" class="text-danger">Home</a> </li>
                <li class="list-group"><a href="/home" class="text-danger">About</a> </li>
                <li class="list-group"><a href="/home" class="text-danger">News</a> </li>
                <li class="list-group"><a href="/home" class="text-danger">Movies</a> </li>
                <li class="list-group"><a href="/home" class="text-danger">Home</a> </li>
                <li class="list-group"><a href="/home" class="text-danger">Home</a> </li>
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="col-12 card bg-dark mt-3 mb-3">
            <h3>Social Media</h3>
            <br>
            <ul class="list">
                <li class="list-group"><a href="/home" class="text-danger">Facebook</a> </li>
                <li class="list-group"><a href="/home" class="text-danger">Instagram</a> </li>
                <li class="list-group"><a href="/home" class="text-danger">Twitter</a> </li>
                <li class="list-group"><a href="/home" class="text-danger">Facebook</a> </li>
                <li class="list-group"><a href="/home" class="text-danger">Instagram</a> </li>
                <li class="list-group"><a href="/home" class="text-danger">Twitter</a> </li>
                
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <div class="col-12 card bg-dark mt-3 mb-3">
            <h3>Movies</h3>
            <br>
            <ul class="list">
                <li class="list-group"><a href="/home" class="text-danger">Action</a> </li>
                <li class="list-group"><a href="/home" class="text-danger">Adventure</a> </li>
                <li class="list-group"><a href="/home" class="text-danger">A-Z</a> </li>
                <li class="list-group"><a href="/home" class="text-danger">Science Fiction</a> </li>
                <li class="list-group"><a href="/home" class="text-danger">Annimation</a> </li>
                <li class="list-group"><a href="/home" class="text-danger">Drama</a> </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 ">
       <form action="" class="col-md-12 mt-3 mb-3">
           <h3>Subscribe</h3>
           <div class="form-group ">
               <label for="email">Email</label> <br>
               <input type="email" name="Email" id="mail" class="form-control rounded-3">
               <input type="submit" value="Send" class="btn btn-success m-2">
           </div>
       </form>

       <br>
       <H4>About Us</H4>
       <p class="text-light container">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, autem ut, nisi quisquam unde repellat mollitia rerum et, harum fugiat quaerat sint officiis incidunt cum vel architecto deleniti! Iusto, quae? </p>
</div>

</div>

